# Joe Gaspari

Through the addition of sentiment analysis and contribution analysis we hope to model the trends of users and how they change over time. We also would like to identify major contributors to discussions.

In [1]:
# import posts as ps

# df = ps.load_Q()

# df2 = ps.load_clean_Q( df )
# display(df2)
# display(df2.info())

# df2.to_csv("Data2/FinalData/qdata.csv")

/Users/joegaspari/Documents/Documents/Year2/S1/COSC 329/Project/posts.py:24: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = ( pd.read_csv("Data2/Questions.csv")
/Users/joegaspari/Documents/Documents/Year2/S1/COSC 329/Project/posts.py:438: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merged = merged.drop("Tags_x", 1)
/Users/joegaspari/Documents/Documents/Year2/S1/COSC 329/Project/posts.py:439: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merged = merged.drop("Body", 1)

,Id,AnswerCount,CreationDate,OwnerUserId,Score,ViewCount,Text,neg,neu,pos,Tags_y
0,1786915,3,2009-11-23 23:54:33.523,178189,0,1379,i was wondering how people are handling the la...,0.010,0.870,0.120,c
1,1786917,2,2009-11-23 23:55:14.417,160359,55,14451,i have a project that adds some extensibility ...,0.000,0.968,0.032,NaN
2,1786919,0,2009-11-23 23:55:34.790,102215,1,397,i am a novice to eclipse cdt and its ui for cv...,0.058,0.890,0.051,eclipse
3,2809,5,2008-08-05 20:33:21.757,437,11,2644,the table does not have a last updated field a...,0.075,0.925,0.000,sql
4,19995,18,2008-08-21 14:04:55.540,184,134,73348,"of course i am aware of ajax, but the problem ...",0.070,0.853,0.076,ajax
...,...,...,...,...,...,...,...,...,...,...,...
19806,67739207,0,2021-05-28 12:52:30.957,8104084,0,4,is there way to set daypickerrangecontroller c...,0.000,0.991,0.009,javascript
19807,67744771,1,2021-05-28 19:52:52.970,7959258,1,14,i am writing an sql query for apache druid and...,0.019,0.852,0.128,sql
19808,67744774,1,2021-05-28 19:53:20.630,5941665,1,33,i did just start with python and working on my...,0.000,0.920,0.080,python
19809,67748132,0,2021-05-29 05:40:40.020,16050851,0,8,my problem with sqlalchemy is to query the ass...,0.027,0.937,0.036,sql
19810,67748133,1,2021-05-29 05:40:45.750,16059211,0,17,package com.example.testapp import androidx.ap...,0.000,0.794,0.206,android

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19811 entries, 0 to 19810
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            19811 non-null  int64
 1   AnswerCount   19811 non-null  int64
 2   CreationDate  19811 non-null  datetime64[ns]
 3   OwnerUserId   19811 non-null  int64
 4   Score         19811 non-null  int64
 5   ViewCount     19811 non-null  int64
 6   Text          19811 non-null  object
 7   neg           19811 non-null  float64
 8   neu           19811 non-null  float64
 9   pos           19811 non-null  float64
 10  Tags_y        19811 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(2)
memory usage: 1.7+ MB

None

In [2]:
# ansers = ps.load_A()
# answers = ps.load_clean_A(ansers)
# display(answers)

# answers.to_csv("Data2/FinalData/adata.csv")

/Users/joegaspari/Documents/Documents/Year2/S1/COSC 329/Project/posts.py:46: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2 = ( pd.read_csv("Data2/Answers.csv")
/Users/joegaspari/Documents/Documents/Year2/S1/COSC 329/Project/posts.py:465: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merged = merged.drop("Body", 1)

,Id,CommentCount,CreationDate,OwnerUserId,ParentId,Score,Text,neg,neu,pos
0,1786916,2,2009-11-23 23:55:06.080,92248,1786198,0,so i am assuming that you want to automate som...,0.018,0.976,0.006
1,1786918,0,2009-11-23 23:55:19.783,108207,1786735,-1,my synonym is ad hoc case study,0.000,1.000,0.000
2,1786920,1,2009-11-23 23:56:03.457,47721,1786894,4,what is the last line of your find method ? ge...,0.022,0.932,0.046
3,1776401,0,2009-11-21 19:03:19.530,216170,1104960,0,you need to name your work manager. the way we...,0.081,0.883,0.036
4,1776402,2,2009-11-21 19:03:24.053,26428,1776073,2,here's another way to do the substitution. bas...,0.000,1.000,0.000
...,...,...,...,...,...,...,...,...,...,...
29412,67734050,0,2021-05-28 06:45:09.103,3906760,67734011,1,the remote url contains hello world twice. you...,0.000,1.000,0.000
29413,67731840,1,2021-05-28 01:40:58.477,5743288,67731463,0,comparing two pointer to member functions is h...,0.000,0.974,0.026
29414,67739208,0,2021-05-28 12:52:36.067,6219979,67738861,0,is it waht you want create function salary( sa...,0.000,0.809,0.191
29415,67744772,0,2021-05-28 19:53:09.747,9721056,67744572,2,can you try ? loadquestions() this.questionser...,0.000,1.000,0.000
29416,67744773,0,2021-05-28 19:53:13.710,3749896,67744643,-1,$.getscript() works asynchronous. call locatio...,0.000,1.000,0.000

In [1]:
import comDefs as cd

comments = cd.load_comm()
comments = cd.load_comments_data( comments)
display(comments)

comments.to_csv("Data2/FinalData/cdata.csv")

/Users/joegaspari/Documents/Documents/Year2/S1/COSC 329/Project/comDefs.py:383: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  merged = merged.drop("Text", 1)

,Id,CreationDate,PostId,Score,UserId,Body,TypeC,neg,neu,pos
0,176223,2008-12-04 15:39:17.380,144748,0,1323.0,"if you are in the new york city area, nyc resi...",Code Response,0.000,0.895,0.105
1,176224,2008-12-04 15:39:32.713,341016,0,29.0,"if it is always an h , and the only h in the c...",Code Response,0.000,0.861,0.139
2,176226,2008-12-04 15:40:15.893,340669,0,15906.0,microsoft has been very quietly expanding larg...,Code Response,0.000,0.833,0.167
3,176227,2008-12-04 15:40:20.620,334469,1,6910.0,"my point was, it is easier to successfully cre...",Code Response,0.048,0.526,0.425
4,176229,2008-12-04 15:40:39.700,340731,0,36845.0,etckeeper (http: kitenet.net joey code etckeep...,Link Response,0.000,0.861,0.139
...,...,...,...,...,...,...,...,...,...,...
51520,119741638,2021-05-28 18:46:01.747,67744055,0,15339544.0,"i think you mean, how to deal with a csv that ...",Written Response,0.000,1.000,0.000
51521,119741639,2021-05-28 18:46:04.450,67744004,0,15820861.0,i tried it but could not make it work. this is...,Code Response,0.000,0.911,0.089
51522,119741640,2021-05-28 18:46:04.560,67697379,0,5863650.0,do you have a developer account ?,Written Response,0.000,1.000,0.000
51523,119741641,2021-05-28 18:46:06.900,67744039,0,6632.0,"thanks monkeyzeus, i ll have to check tomorrow...",Code Response,0.040,0.809,0.151
51524,119741643,2021-05-28 18:46:13.697,67724914,0,570918.0,does the package actually export a module name...,Link Response,0.000,1.000,0.000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19811 entries, 0 to 19810
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            19811 non-null  int64
 1   AnswerCount   19811 non-null  int64
 2   Body          19811 non-null  object
 3   CreationDate  19811 non-null  datetime64[ns]
 4   OwnerUserId   19811 non-null  int64
 5   Score         19811 non-null  int64
 6   Tags_x        19811 non-null  object
 7   ViewCount     19811 non-null  int64
 8   Text          19811 non-null  object
 9   neg           19811 non-null  float64
 10  neu           19811 non-null  float64
 11  pos           19811 non-null  float64
 12  Tags_y        19811 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(4)
memory usage: 2.0+ MB

None

{'framework', 'c', 'entity', 'wcf', "'"}

{'c'}