In [8]:
import pyodbc 
import nltk
from pandas import DataFrame
import pandas as pd
from sqlalchemy import create_engine

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=.;DATABASE=StackOverflow;Trusted_Connection=yes;')
cursor = conn.cursor()
print('Connection to db successful')
cmd = (query)



query = "SELECT * FROM dbo.Users WHERE CreationDate < '2010-01-01' AND LastAccessDate > '2020-01-01'"
cursor.execute(query)

results = cursor.execute(cmd).fetchall()
df = pd.read_sql(query, conn)

Connection to db successful

In [11]:
df.sample(100)

,Id,AboutMe,Age,CreationDate,DisplayName,DownVotes,EmailHash,LastAccessDate,Location,Reputation,UpVotes,Views,WebsiteUrl,AccountId
17147,57311,<p>I am #SOreadytohelp</p>\n,None,2009-01-21 00:21:00.510,Spongeboy,10,None,2021-03-25 13:58:35.923,None,2142,875,207,,23002
3244,171031,<p>Just another code slinging project addict.<...,None,2009-09-09 18:36:10.887,nickk_can,1,None,2020-04-27 16:14:59.667,None,343,13,19,,57105
7543,2481,,None,2008-08-22 13:31:12.463,Martin Gordon,26,None,2021-05-26 22:57:36.710,"New York, NY",35754,73,1015,http://www.martingordon.org,1806
2785,170554,,None,2009-09-09 02:42:58.797,Callum,1,None,2021-05-15 00:41:40.407,,842,24,33,http://callumscode.com,56947
36981,28256,<p>I'm a Java developer who has just recently ...,None,2008-10-15 14:09:02.463,menapole,0,None,2021-05-20 13:31:54.160,United States,1116,54,111,,13935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38378,30183,C#,None,2008-10-22 00:08:36.823,David White,13,None,2020-08-04 06:17:12.330,New Zealand,2944,324,215,http://www.geekzone.co.nz/dmw,14600
5741,1762,<p>Web developer that started with ASP 3.0 and...,None,2008-08-18 13:12:06.080,Andy Rose,23,None,2021-05-26 11:23:39.067,United Kingdom,15632,342,761,http://cyberian.co.uk,1322
15414,118906,,None,2009-06-07 18:41:04.270,stevenhaddox,2,None,2021-05-26 14:46:22.137,"St. George, UT, USA",1155,429,100,http://stevenhaddox.com,40960
28811,18548,"<p>Thoughtworker living in Bangalore, India. I...",None,2008-09-19 05:21:51.407,Ritesh M Nayak,7,None,2020-10-07 03:14:31.423,"Bangalore, India",7801,253,737,http://riteshnayak.com,9936
9819,178249,,None,2009-09-24 05:13:29.357,Mead,0,None,2021-05-19 15:05:58.843,None,1036,45,53,,59588